@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";

#map_index {
  width: 600px;
  height: 400px;
}
#map_new {
  width: 600px;
  height: 400px;
}
#map_edit {
  width: 600px;
  height: 400px;
}


body { padding-top: 51px; }
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
